    {% extends 'base.html.twig' %}

    {% block title %}
        Se Connecter
    {% endblock %}

    {% block body %}
        <div class="container text-center">
            <form method="post" class="mx-auto" style="width: 300px;">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}
    <br><br><br>
                <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
    <br>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email address" autocomplete="email" required autofocus>
    <br><br>
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <br><br>
                <button type="submit" class="btn btn-primary">Se Connecter</button>
            </form>
            <br>
            <p class="mt-3"><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a></p>
        </div>
    {% endblock %}
